---
layout: default
---

<div class="post">
   <header class="post-header">
      <h3 class="post-title"> {{ site.first_name }} {{ site.last_name }}</h3>
      <p class="desc">{{ page.subtitle }}</p> 
   </header>
   
   <article>
      <div class="clearfix">{{ content }} </div>
      {% if page.profile_more_info %}
         <div class="more-info">{{ page.profile.more_info }}</div>
      {% endif %}

      {% if page.news and site.announcements.enabled %}
         <h2>News</h2>
         {% include news.liquid limit=true %}
      {% endif %}

      {% if page.news and site.announcements.enabled %}
         <h2>Projects</h2>
      {% endif %}
   </article> 
</div>
